body {
  font-family:'Courier New', Courier, monospace;
}

p {
  font-size: 1.15rem;
}

h1, h2, h3 {
  text-align: center;
}

button {
  border: none;
  background: maroon;
  font-size: 1.2rem;
  border-radius: 10px;
  color: white;
  padding: 5px 10px 5px 10px;
  transition: 0.2s;
}

button:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.container img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.red {
  color: red;
}

#nav {
  text-align: center;
}

#content-tabs {
  margin-top: 20px;
}

#home-content {
  display: block;
}

#stats-content {
  display: none;
}